*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:hsla(0, 0%, 100%, 0.75);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.container{
    display: flex;
    width: 90%;
    max-width: 900px;
    min-height: 450px;
    border-radius: 15px;
    overflow: hidden;
}
.card{
   flex:1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   padding: 40px;
}

.left-card {
   background-color:hsl(31, 77%, 52%);
}
.middle-card{
   background-color: hsl(184, 100%, 22%);
}
.right-card{
   background-color:hsl(179, 100%, 13%);
}
h1{
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: "big shoulders display", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 25px 0;
}
.card p{
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family:"lexend deca", sans-serif;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 40px;
}
.btn{
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 30px;
    padding: 12px 28px;
    font-weight: bold;
    cursor: pointer;
}
.left-card .btn{
    color: hsl(31, 77%, 52%);
}
.middle-card .btn{
    color: hsl(184, 100%, 22%);
}
.right-card .btn{
    color: hsl(179, 100%, 13%);
}
.btn:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.attribution { 
    margin-top: 20px;
    font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
}